@charset "UTF-8";

html {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after {
	box-sizing: inherit;
}

strong, b {
	font-weight: 700;
}

body {
	color: #222628;
	margin: 0;
	font-size: 0.875rem;
	font-family: "Neue Plak UA", Helvetica, Arial, -apple-system, sans-serif;
	font-weight: 400;
	line-height: 1.5;
	background-color: #F0F2F4;
}

@media print {
	body {
		background-color: #fff;
	}
}

body::backdrop {
	background-color: #F0F2F4;
}

.MuiTypography-root {
	margin: 0;
}

.MuiTypography-body2 {
	font-size: 0.875rem;
	font-family: "Neue Plak UA", Helvetica, Arial, -apple-system, sans-serif;
	font-weight: 400;
	line-height: 1.5;
}

.MuiTypography-body1 {
	font-size: 1rem;
	font-family: "Neue Plak UA", Helvetica, Arial, -apple-system, sans-serif;
	font-weight: 400;
	line-height: 1.5;
}

.MuiTypography-caption {
	font-size: 0.75rem;
	font-family: "Neue Plak UA", Helvetica, Arial, -apple-system, sans-serif;
	font-weight: 400;
	line-height: 1.66;
}

.MuiTypography-button {
	font-size: 0.875rem;
	font-family: "Neue Plak UA", Helvetica, Arial, -apple-system, sans-serif;
	font-weight: 500;
	line-height: 1.75;
	text-transform: uppercase;
}

.MuiTypography-h1 {
	font-size: 1.5625rem;
	font-family: "Neue Plak UA", Helvetica, Arial, -apple-system, sans-serif;
	font-weight: 900;
	line-height: 1.12;
}

@media ( min-width :576px) {
	.MuiTypography-h1 {
		font-size: 1.7857rem;
	}
}

@media ( min-width :992px) {
	.MuiTypography-h1 {
		font-size: 2.0089rem;
	}
}

@media ( min-width :1200px) {
	.MuiTypography-h1 {
		font-size: 2.2321rem;
	}
}

.MuiTypography-h2 {
	font-size: 1.25rem;
	font-family: "Neue Plak UA", Helvetica, Arial, -apple-system, sans-serif;
	font-weight: 800;
	line-height: 1.15;
}

@media ( min-width :576px) {
	.MuiTypography-h2 {
		font-size: 1.3043rem;
	}
}

@media ( min-width :992px) {
	.MuiTypography-h2 {
		font-size: 1.5217rem;
	}
}

@media ( min-width :1200px) {
	.MuiTypography-h2 {
		font-size: 1.5217rem;
	}
}

.MuiTypography-h3 {
	font-size: 1.125rem;
	font-family: "Neue Plak UA", Helvetica, Arial, -apple-system, sans-serif;
	font-weight: 700;
	line-height: 1.2;
}

@media ( min-width :576px) {
	.MuiTypography-h3 {
		font-size: 1.25rem;
	}
}

@media ( min-width :992px) {
	.MuiTypography-h3 {
		font-size: 1.25rem;
	}
}

@media ( min-width :1200px) {
	.MuiTypography-h3 {
		font-size: 1.25rem;
	}
}

.MuiTypography-h4 {
	font-size: 16px;
	font-family: "Neue Plak UA", Helvetica, Arial, -apple-system, sans-serif;
	font-weight: 600;
	line-height: 1.25;
}

.MuiTypography-h5 {
	font-size: 0.875rem;
	font-family: "Neue Plak UA", Helvetica, Arial, -apple-system, sans-serif;
	font-weight: 600;
	line-height: 1.334;
}

.MuiTypography-h6 {
	font-size: 0.75rem;
	font-family: "Neue Plak UA", Helvetica, Arial, -apple-system, sans-serif;
	font-weight: 600;
	line-height: 1.6;
}

.MuiTypography-subtitle1 {
	font-size: 1rem;
	font-family: "Neue Plak UA", Helvetica, Arial, -apple-system, sans-serif;
	font-weight: 400;
	line-height: 1.75;
}

.MuiTypography-subtitle2 {
	font-size: 0.875rem;
	font-family: "Neue Plak UA", Helvetica, Arial, -apple-system, sans-serif;
	font-weight: 500;
	line-height: 1.57;
}

.MuiTypography-overline {
	font-size: 0.75rem;
	font-family: "Neue Plak UA", Helvetica, Arial, -apple-system, sans-serif;
	font-weight: 400;
	line-height: 2.66;
	text-transform: uppercase;
}

.MuiTypography-srOnly {
	width: 1px;
	height: 1px;
	overflow: hidden;
	position: absolute;
}

.MuiTypography-alignLeft {
	text-align: left;
}

.MuiTypography-alignCenter {
	text-align: center;
}

.MuiTypography-alignRight {
	text-align: right;
}

.MuiTypography-alignJustify {
	text-align: justify;
}

.MuiTypography-noWrap {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.MuiTypography-gutterBottom {
	margin-bottom: 0.35em;
}

.MuiTypography-paragraph {
	margin-bottom: 16px;
}

.MuiTypography-colorInherit {
	color: inherit;
}

.MuiTypography-colorPrimary {
	color: #0066EE;
}

.MuiTypography-colorSecondary {
	color: #FAFAFA;
}

.MuiTypography-colorTextPrimary {
	color: #222628;
}

.MuiTypography-colorTextSecondary {
	color: #6D717A;
}

.MuiTypography-colorError {
	color: #F22613;
}

.MuiTypography-displayInline {
	display: inline;
}

.MuiTypography-displayBlock {
	display: block;
}

.jss64 {
	font-size: 4.4375rem;
	font-family: "Neue Plak UA Condensed", Helvetica, Arial, -apple-system,
		sans-serif;
	font-weight: 800;
	line-height: 1;
}

@media ( min-width :576px) {
	.jss64 {
		font-size: 6rem;
	}
}

@media ( min-width :992px) {
	.jss64 {
		font-size: 7.25rem;
	}
}

@media ( min-width :1200px) {
	.jss64 {
		font-size: 8rem;
	}
}

.jss65 {
	font-size: 2.9375rem;
	font-family: "Neue Plak UA Condensed", Helvetica, Arial, -apple-system,
		sans-serif;
	font-weight: 800;
	line-height: 1;
}

@media ( min-width :576px) {
	.jss65 {
		font-size: 3.75rem;
	}
}

@media ( min-width :992px) {
	.jss65 {
		font-size: 4.5rem;
	}
}

@media ( min-width :1200px) {
	.jss65 {
		font-size: 5rem;
	}
}

.jss66 {
	font-size: 2.125rem;
	font-family: "Neue Plak UA Condensed", Helvetica, Arial, -apple-system,
		sans-serif;
	font-weight: 800;
	line-height: 1;
}

@media ( min-width :576px) {
	.jss66 {
		font-size: 2.75rem;
	}
}

@media ( min-width :992px) {
	.jss66 {
		font-size: 3rem;
	}
}

@media ( min-width :1200px) {
	.jss66 {
		font-size: 3.25rem;
	}
}

.jss67 {
	font-size: 1.5625rem;
	font-weight: 700;
	line-height: 1;
}

@media ( min-width :576px) {
	.jss67 {
		font-size: 1.75rem;
	}
}

@media ( min-width :992px) {
	.jss67 {
		font-size: 2rem;
	}
}

@media ( min-width :1200px) {
	.jss67 {
		font-size: 2.25rem;
	}
}

.jss68 {
	font-size: 1.1875rem;
	font-weight: 600;
	line-height: 1;
}

@media ( min-width :576px) {
	.jss68 {
		font-size: 1.25rem;
	}
}

@media ( min-width :992px) {
	.jss68 {
		font-size: 1.25rem;
	}
}

@media ( min-width :1200px) {
	.jss68 {
		font-size: 1.5rem;
	}
}

.jss69 {
	font-size: 1.0625rem;
	font-weight: 700;
	line-height: 1;
}

@media ( min-width :576px) {
	.jss69 {
		font-size: 1rem;
	}
}

@media ( min-width :992px) {
	.jss69 {
		font-size: 1rem;
	}
}

@media ( min-width :1200px) {
	.jss69 {
		font-size: 1.25rem;
	}
}

.jss70 {
	font-size: 2.375rem;
	font-weight: 900;
	line-height: 1.04;
}

@media ( min-width :576px) {
	.jss70 {
		font-size: 3.125rem;
	}
}

@media ( min-width :992px) {
	.jss70 {
		font-size: 3.6058rem;
	}
}

@media ( min-width :1200px) {
	.jss70 {
		font-size: 3.8462rem;
	}
}

.jss71 {
	font-size: 2rem;
	font-weight: 900;
	line-height: 1.08;
}

@media ( min-width :576px) {
	.jss71 {
		font-size: 2.5463rem;
	}
}

@media ( min-width :992px) {
	.jss71 {
		font-size: 2.7778rem;
	}
}

@media ( min-width :1200px) {
	.jss71 {
		font-size: 3.0093rem;
	}
}

.jss72 {
	font-size: 1.5625rem;
	font-weight: 700;
	line-height: 1.12;
}

@media ( min-width :576px) {
	.jss72 {
		font-size: 1.7857rem;
	}
}

@media ( min-width :992px) {
	.jss72 {
		font-size: 2.0089rem;
	}
}

@media ( min-width :1200px) {
	.jss72 {
		font-size: 2.2321rem;
	}
}

.jss73 {
	font-size: 1rem;
	font-weight: 600;
}

.jss74 {
	font-size: 0.625rem;
	font-family: "Neue Plak UA Narrow", Helvetica, Arial, -apple-system,
		sans-serif;
	font-weight: 600;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.jss75 {
	font-size: 0.875rem;
	font-weight: 800;
}

.jss76 {
	font-size: 0.625rem;
	font-weight: 600;
}

.jss77 {
	font-size: 1rem;
	font-weight: 700;
	text-transform: uppercase;
}

.jss78 {
	font-size: 0.875rem;
	font-weight: 700;
	text-transform: uppercase;
}

.jss79 {
	font-size: 0.875rem;
	font-weight: 600;
}

.jss17 {
	width: 100%;
	height: 50px;
	margin: 0;
	padding: 10px 16px;
	z-index: 9999;
	border-bottom: 1px solid #0065a7;
	background-color: #0070bf;
}

.jss18 {
	display: inline-block;
	margin-top: 4px;
	vertical-align: middle;
}

.jss18 img {
	height: 26px;
}

.jss19 {
	color: #fff;
	cursor: pointer;
	display: inline-block;
	margin-right: 19px;
}

.jss20 {
	color: #fff;
	width: 100%;
	font-size: 13px;
	list-style: none;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #000;
}

.jss20 a {
	color: inherit;
	text-decoration: none;
}

.jss21 {
	width: 110%;
}

.jss22 {
	display: block;
}

.jss23 {
	border-bottom: 1px solid #0064a5;
	background-color: #0070bf;
}

.jss24 {
	border-bottom: 1px solid #00497a;
	background-color: #00548b;
}

.jss25 {
	padding: 14px;
	border-bottom: 1px solid #0064a5;
	background-color: #0070bf;
}

.jss25 a {
	display: block;
}

.jss26 {
	padding: 14px;
	border-bottom: 1px solid #00497a;
	background-color: #00548b;
}

.jss26 a {
	display: block;
}

.jss27 {
	border-bottom: 1px solid #0064a5;
	background-color: #0070bf;
}

.jss27 div {
	padding-top: 14px;
	border-bottom: 1px solid #00497a;
	padding-bottom: 14px;
}

.jss27 a {
	padding-left: 29px;
}

.jss28 {
	border-bottom: 1px solid #00497a;
	background-color: #00548b;
}

.jss28 div {
	padding-top: 14px;
	border-bottom: 1px solid #00497a;
	padding-bottom: 14px;
}

.jss28 a {
	padding-left: 29px;
}

.jss29 {
	margin-top: -10px;
}

.jss30 {
	top: 0;
	width: 100%;
	position: fixed;
}

.jss31 {
	margin-top: 50px;
}

.jss32 {
	padding: 10px 14px;
	border-bottom: 1px solid #0064a5;
	background-color: #0070bf;
}

.jss32 svg path {
	fill: #fff;
}

.jss32 svg polygon {
	fill: #fff;
}

@media screen and (min-width: 768px) {
	.jss33 {
		text-align: left;
		padding-top: 25px;
		background-color: #FFFFFF;
	}
	.jss34 {
		clear: both;
		width: 980px;
		margin: 0 auto;
		position: relative;
	}
	.jss18 img {
		width: 229px;
		height: 30px;
	}
	.jss35 {
		display: flex;
		padding-bottom: 20px;
		justify-content: space-between;
	}
	.jss36 {
		color: #FFF;
		display: inline-block;
		padding: 0px 18px;
		font-weight: bold;
		line-height: 45px;
		text-decoration: none;
	}
	.jss37 {
		display: inline-block;
	}
	.jss38 {
		background-color: #0a5282;
	}
	.jss39 {
		font-size: 13px;
		font-weight: bold;
		line-height: 45px;
		text-transform: uppercase;
		background-color: #0070BF;
	}
	.jss39>.jss34>a:hover {
		background-color: #0a5282;
	}
	.jss27 {
		font-size: 13px;
		line-height: 45px;
		background-color: #0a5282;
	}
	.jss27 .jss36 {
		font-weight: normal;
	}
	.jss27 .jss38 {
		font-weight: bold;
	}
	.jss40 {
		left: 0;
		right: 3px;
		z-index: 10;
		position: absolute;
	}
	.jss41 {
		background-position: 0 -70px;
		;
	}
	.jss42 {
		background-position: 0 -25px;
		;
	}
	.jss43 {
		background-position: 0 -50px;
		;
	}
	.jss44 {
		background-position: 0 -5px;
		;
	}
	.jss45 a {
		display: inline-block;
		padding: 0 0 0 25px;
		background-image:
			url(/react-static/8267d44a81bddaa6fe2efd70568f95ce.png);
		background-repeat: no-repeat;
	}
	.jss46 a {
		font-weight: 800;
	}
	.jss47>div {
		display: inline-block;
		padding: 0 10px;
		border-right: 1px solid #e6e6e6;
	}
	.jss47 a {
		color: #0072BC;
		line-height: 16px;
		margin-right: 10px;
		text-decoration: none;
	}
	.jss47 a:hover {
		color: #f7941e;
	}
	.jss47 a:last-of-type {
		margin-right: 0;
	}
	.jss47>div:last-of-type {
		border-right: 0;
	}
	.jss48 {
		font-size: 12px;
		line-height: 1.5em;
		margin-left: auto;
	}
	.jss48>div {
		display: inline-block;
		padding: 0 10px;
		border-right: 1px solid #e6e6e6;
	}
	.jss48 a {
		color: #0072BC;
		line-height: 16px;
		margin-right: 10px;
		text-decoration: none;
	}
	.jss48 a:hover {
		color: #f7941e;
	}
	.jss48 a:last-of-type {
		margin-right: 0;
	}
	.jss48>div:last-of-type {
		border-right: 0;
	}
	.jss49 {
		font-size: 14;
		font-weight: bold;
	}
	.jss49>div {
		display: inline-block;
		padding: 0 10px;
		border-right: 1px solid #e6e6e6;
	}
	.jss49 a {
		color: #0072BC;
		line-height: 16px;
		margin-right: 10px;
		text-decoration: none;
	}
	.jss49 a:hover {
		color: #f7941e;
	}
	.jss49 a:last-of-type {
		margin-right: 0;
	}
	.jss49>div:last-of-type {
		border-right: 0;
	}
	.jss50 a {
		color: #fff;
		width: 24px;
		padding: 4px 5px;
		margin-left: 5px;
		margin-right: 4px;
		border-radius: 24px;
		background-color: #0072BC;
	}
	.jss50 a:hover {
		color: #fff;
		background-color: #f7941e;
	}
	.jss51 {
		font-weight: bold;
	}
}

.jss90 {
	margin-bottom: 1rem;
}

@media only screen and (min-width: 1024px) {
	.jss90 {
		right: 30px;
		position: absolute;
	}
}

.jss82 {
	width: 100%;
	background: #efefef;
	text-align: center;
}

.jss83 {
	width: 940px;
	height: 120px;
	margin: auto;
	font-size: 12px;
	text-align: center;
	padding-top: 32px;
}

.jss84 {
	margin: 0 0 1em;
	display: inline-block;
	padding: 0;
	max-width: 65%;
	list-style: none;
	text-align: center;
	line-height: 1.92;
}

.jss84 li {
	margin: 0 5px;
	display: inline-block;
}

.jss84 a {
	color: #0072bc;
	font-size: 12px;
	text-decoration: none;
}

.jss84 a:hover {
	color: #f7941e;
}

.jss85 {
	font-size: 12px;
}

.jss86 {
	color: #757575;
	width: 100%;
	padding: 24px 0;
	font-size: 14px;
	background: #efefef;
	text-align: center;
}

.jss86 p {
	margin: 20px 0 10px;
}

.jss86 img {
	margin-bottom: 24px;
}

.jss86 hr {
	margin: 7px 16px 10px;
	border-top: 1px solid #eee;
	border-color: #e0e0e0;
	border-width: 2px;
}

.jss87 {
	bottom: 0;
	position: fixed;
}

@media only screen and (max-width: 320px) and (orientation: landscape) {
	.jss87 {
		position: relative;
	}
}

@media only screen and (max-width: 320px) and (orientation: portrait) {
	.jss87 {
		position: fixed;
	}
}

.jss88 {
	margin: 1em 0;
	list-style: none;
	line-height: 1.92;
	margin-left: -5px;
	padding-left: 0;
	padding-right: 0;
}

.jss88 li {
	display: inline-block;
}

.jss88 li:not(:first-child):before {
	content: "•";
	padding-left: 5px;
}

.jss88 li div {
	display: inline-block;
}

.jss88 li a {
	color: inherit;
	padding: 0 6px;
	text-decoration: none;
}

.jss89 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.MuiSnackbar-root {
	left: 8px;
	right: 8px;
	display: flex;
	z-index: 1400;
	position: fixed;
	align-items: center;
	justify-content: center;
}

.MuiSnackbar-anchorOriginTopCenter {
	top: 8px;
}

@media ( min-width :576px) {
	.MuiSnackbar-anchorOriginTopCenter {
		top: 24px;
		left: 50%;
		right: auto;
		transform: translateX(-50%);
	}
}

.MuiSnackbar-anchorOriginBottomCenter {
	bottom: 8px;
}

@media ( min-width :576px) {
	.MuiSnackbar-anchorOriginBottomCenter {
		left: 50%;
		right: auto;
		bottom: 24px;
		transform: translateX(-50%);
	}
}

.MuiSnackbar-anchorOriginTopRight {
	top: 8px;
	justify-content: flex-end;
}

@media ( min-width :576px) {
	.MuiSnackbar-anchorOriginTopRight {
		top: 24px;
		left: auto;
		right: 24px;
	}
}

.MuiSnackbar-anchorOriginBottomRight {
	bottom: 8px;
	justify-content: flex-end;
}

@media ( min-width :576px) {
	.MuiSnackbar-anchorOriginBottomRight {
		left: auto;
		right: 24px;
		bottom: 24px;
	}
}

.MuiSnackbar-anchorOriginTopLeft {
	top: 8px;
	justify-content: flex-start;
}

@media ( min-width :576px) {
	.MuiSnackbar-anchorOriginTopLeft {
		top: 24px;
		left: 24px;
		right: auto;
	}
}

.MuiSnackbar-anchorOriginBottomLeft {
	bottom: 8px;
	justify-content: flex-start;
}

@media ( min-width :576px) {
	.MuiSnackbar-anchorOriginBottomLeft {
		left: 24px;
		right: auto;
		bottom: 24px;
	}
}

.jss52 {
	color: #F22613;
	flex-wrap: nowrap;
	box-shadow: 0 12px 27px 0 rgba(0, 0, 0, 0.05);
	margin-top: 96px;
	font-weight: 600;
	border-color: #F22613;
	border-radius: 4px;
	background-color: #fdefef;
}

.jss53 {
	margin-right: 2px;
}

@media ( max-width :1199.95px) {
	.jss53 {
		padding-left: 0;
	}
}

@media ( max-width :991.95px) {
	.jss52 {
		margin-top: 64px;
	}
}

.jss14 {
	position: relative;
	min-height: 500px;
}

.jss15 {
	margin: 0 auto;
	padding: 32px 0;
}

@media ( max-width :1199.95px) {
	.jss15 {
		padding: 24px 16px;
	}
}

.jss16 {
	color: #fff;
	font-weight: 400;
	text-decoration: underline;
}

.jss16:hover {
	cursor: pointer;
}

.jss56 {
	width: 100%;
}

.jss56 form {
	display: flex;
	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.2);
	border-radius: 43px;
	background-color: white;
}

.jss56 button {
	width: 2.188em;
	border: none;
	height: 2.5625em;
	padding: 0;
	overflow: hidden;
	border-radius: 0px 43px 43px 0px;
	background-color: white;
}

.jss56 img {
	width: 1.25em;
	height: 1.25em;
	display: block;
}

.jss56 ::-webkit-input-placeholder {
	color: #DDD;
}

.jss56 :-ms-input-placeholder {
	color: #DDD;
}

.jss56 button:hover {
	cursor: pointer;
}

.jss57::-webkit-search-cancel-button {
	right: 16px;
	position: relative;
}

.jss57::-ms-clear {
	margin-right: 16px;
}

.jss58 {
	width: 100%;
	border: none;
	height: 3.4em;
	outline: none;
	font-size: .75rem;
	padding-left: 1.5em;
	border-radius: 43px 0px 0px 43px;
}

.jss58 ::-ms-clear {
	display: none;
}

@media only screen and (min-width: 768px) {
	.jss56 button {
		width: 5em;
		height: 5em;
	}
	.jss56 img {
		width: 3em;
		height: 3em;
	}
	.jss58 {
		color: #212121;
		height: 4em;
		font-size: 1.25rem;
		padding-left: 2em;
	}
	.jss59 {
		top: 20%;
		width: 2.5em;
		height: 5em;
	}
}

.jss80 {
	text-align: center;
	margin-bottom: 1em;
}

.jss80>h2 {
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.33;
}

.jss81 {
	margin: 0 auto;
	max-width: content-max-width-sm;
}

@media ( min-width :576px) {
	.jss80 {
		text-align: left;
	}
	.jss81 {
		margin: 0;
		max-width: none;
	}
}

.jss54 {
	width: 100%;
	margin: 0 0 1rem;
}

.jss54 path {
	transition: fill 0.3s ease-in-out;
}

.jss54 form {
	border: 1px solid white;
	display: flex;
	border-top: 1px solid rgba(0, 0, 0, 0.04);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	transition: box-shadow 0.3s ease-in-out;
	border-radius: 4px;
	flex-direction: row-reverse;
}

.jss54 button {
	border: none;
	outline: none;
	padding-left: 1rem;
	background-color: transparent;
}

.jss54 img {
	height: 1.25em;
	display: block;
}

.jss54 ::-webkit-input-placeholder {
	color: #DDD;
	transition: color 0.3s ease-in-out;
}

.jss54 :-ms-input-placeholder {
	color: #DDD;
	transition: color 0.3s ease-in-out;
}

.jss54 ::-moz-placeholder {
	color: #DDD;
}

.jss54 :-moz-placeholder {
	color: #DDD;
}

.jss54 input {
	width: 100%;
	height: 2.5em;
	padding: 1rem 0;
	font-size: 1rem;
	border-left: none;
	border-radius: 0 4px 4px 0px;
}

.jss55 form {
	box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.2);
}

.jss55 form ::-webkit-input-placeholder {
	color: #A8A8A8;
}

.jss55 form :-ms-input-placeholder {
	color: #A8A8A8;
}

.jss55 form ::-moz-placeholder {
	color: #A8A8A8;
}

.jss55 form :-moz-placeholder {
	color: #A8A8A8;
}

@media only screen and (min-width: 768px) {
	.jss54 input {
		height: 3.5em;
		font-size: 1rem;
	}
}

.jss2 {
	display: flex;
	overflow: hidden;
	justify-content: center;
}

.jss3 {
	display: grid;
	-ms-grid-rows: auto 1rem auto 1rem auto 1rem auto 1rem auto 1rem auto
		1rem auto;
	-ms-grid-columns: 1fr;
	grid-template-areas: "adSectionTop" "main" "adSection4" "nutrition"
		"activity" "adSection5" "blog";
	grid-template-columns: 1fr;
}

.jss3>div {
	margin: 0 1em;
}

.jss3>section {
	margin: 0 1em;
	padding-bottom: 1.5em;
}

.jss3>.jss13 {
	margin-left: auto;
	margin-right: auto;
}

.jss3>div:not(.jss6) {
	padding-bottom: 1.5em;
}

.jss4 {
	grid-area: main;
	-ms-grid-row: 3;
	-ms-grid-column: 1;
}

.jss5 {
	grid-area: sidebar;
}

.jss5>* {
	margin: 24px 0;
}

.jss5>*:first-child {
	margin-top: 0;
}

.jss6 {
	grid-area: adSectionTop;
	grid-column: 1/-1;
	-ms-grid-row: 1;
	-ms-grid-column: 1;
}

.jss7 {
	-ms-grid-row: 5;
	-ms-grid-column: 1;
}

.jss8 {
	grid-area: adSection5;
	-ms-grid-row: 11;
	-ms-grid-column: 1;
}

.jss9 {
	grid-area: tabletAds;
}

.jss10 {
	margin: 1rem 0;
}

.jss11 {
	grid-area: nutrition;
	-ms-grid-row: 7;
	padding-bottom: .875em;
	-ms-grid-column: 1;
}

.jss12 {
	margin: 10px 0 !important;
	padding: .875em 0;
	grid-area: activity;
	min-width: 0;
	-ms-grid-row: 9;
	-ms-grid-column: 1;
}

.jss13 {
	margin: auto;
	padding: .875em 0;
	grid-area: blog;
	max-width: 425px;
	-ms-grid-row: 13;
	margin-bottom: 4.125em;
	-ms-grid-column: 1;
}

@media screen and (min-width: 768px) {
	.jss3 {
		margin: 2em auto;
		display: grid;
		-ms-grid-columns: 1fr;
		grid-template-areas: "main" "tabletAds" "nutrition" "activity" "blog";
		grid-template-columns: 1fr;
	}
	.jss3>div {
		margin: 0 3.625em;
		padding-bottom: 2.5em;
	}
	.jss3>section {
		margin: 0 3.625em;
		padding-bottom: 2.5em;
	}
	.jss3>.jss13 {
		margin: 0 3.625em;
		padding-bottom: 2.5em;
	}
	.jss4 {
		grid-area: main;
		-ms-grid-row: 1;
		-ms-grid-column: 1;
	}
	.jss11 {
		-ms-grid-row: 3;
	}
	.jss9 {
		display: flex;
		-ms-grid-row: 5;
		-ms-flex-pack: distribute;
		justify-content: space-around;
	}
	.jss10 {
		margin-top: 0;
	}
	.jss12 {
		-ms-grid-row: 7;
	}
	.jss13 {
		width: auto;
		max-width: none;
		-ms-grid-row: 9;
	}
}

@media screen and (min-width: 1024px) {
	.jss3 {
		display: grid;
		padding: 0 1rem;
		grid-gap: 2rem;
		max-width: 1024px;
		-ms-grid-rows: auto 2rem auto 2rem auto 2em auto;
		-ms-grid-column: 1fr 2rem 300px;
		grid-template-areas: "main sidebar" "nutrition sidebar"
			"activity sidebar" "blog sidebar";
		grid-template-columns: 1fr 300px;
	}
	.jss3>div {
		margin: 0;
		padding-bottom: 0;
	}
	.jss3>section {
		margin: 0;
		padding-bottom: 0;
	}
	.jss3>.jss13 {
		margin: 0;
		padding-bottom: 0;
	}
	.jss11 {
		grid-area: nutrition;
		-ms-grid-row: 3;
		-ms-grid-column: 1;
	}
	.jss12 {
		grid-area: activity;
		-ms-grid-row: 5;
		-ms-grid-column: 1;
	}
	.jss4 {
		grid-area: main;
		-ms-grid-row: 1;
		-ms-grid-column: 1;
	}
	.jss13 {
		grid-area: blog;
		-ms-grid-row: 7;
		-ms-grid-column: 1;
	}
	.jss5 {
		-ms-grid-column: 3;
		-ms-grid-row-span: 6;
	}
}

.jss60 {
	margin: 2.75rem auto;
	max-width: 480px;
	text-align: center;
}

.jss61 {
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.33;
	margin-bottom: 1rem;
}

.jss62 {
	width: 100%;
}

.jss63 {
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.75;
}

@media undefined {
	.jss62 {
		width: inherit;
	}
}

.jss1 {
	margin-top: 1em;
	text-align: center;
}
